Options +FollowSymLinks
RewriteEngine on
#========================================================================
# PRIMERO Maneje las solicitudes http antes de eliminar el correo no deseado adicional
#========================================================================
# regla para que connect.monteverdeltda.com se enlace al directorio connect
RewriteCond %{HTTP_HOST} ^(www.)?connect.monteverdeltda.com$
RewriteCond %{REQUEST_URI} !^/connect/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /connect/$1

#rule for api.monteverdeltda.com to link to site2folder directory. Its the same as above just with site2 URL and subfolder
RewriteCond %{HTTP_HOST} ^(www.)?api.monteverdeltda.com$
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /api/$1

#==========================================================
# SECOND Remove the additional url junk once the new url is loaded
#==========================================================
#rule for connect.monteverdeltda url rewrite to remove /api/index.php from the URL
RewriteCond %{HTTP_HOST} ^(www.)?connect.monteverdeltda.com$
RewriteRule ^(/)?$ connect/index.php
#rule for api.monteverdeltda url rewrite to remove /site2foler/index.php from the URL. Again its the same as above just with the site2 URL and sub folder info.
RewriteCond %{HTTP_HOST} ^(www.)?api.monteverdeltda.com$
RewriteRule ^(/)?$ api/index.php